/*CSS CDS*/
.gridCds {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.6fr 0.3fr 0.2fr, 6fr 0.1fr;
    gap: 9px 9px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-areas: "logo logo logo logo" 
    "menuP menuP menuP menuP" 
    "mainCD mainCD mainCD mainCD" 
    "mainCD mainCD mainCD mainCD" 
    "footerT footerT footerT footerT";
}

.logo {
    grid-area: logo;
    width: 100%;
}

.centrarImg {
    text-align: center;
}

.menuP {
    grid-area: menuP;
    background-color: #000000;
    width: 100%;
    text-align: center;
}

.menuPincipalN {
    height: 50px;
    color: #000000;
    background-color: #000000;
    width: 100%;
    font-size: 18px;

a {
    &:hover, &:visited {
    color: #ffffff;
}
}
}

.mainCD {
    grid-area: mainCD;
    width: 100%;
}

.cdsLista {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 50px 0px 50px;

a:visited {
    color: #ffffff;
}
}

.propCds {
    text-align: center;
    font-weight: 500;
    background-color: #000000;
    color: #ffffff;
    margin: 20px;
}

.linkTex {
    text-align: center;
    text-decoration: none;
    color: #ffffff;

a {
    color: #ffffff;
}
}

.footerT {
    grid-area: footerT;
    background-color: #000000;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

a {
    text-decoration: none;
}
}

.tamañoFuente {
    font-size: 15px;
}

.animCD {
    transition: all 0.4s ease;

    &:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    }
}

/*RESPONSIVE CDS*/
@media screen and (max-width: 1024px) {
    .gridCds {
        display: grid;
        grid-template-columns: repeat (2, 1fr);
        grid-template-rows: repeat (3, 0, 2fr);
    }

    .botonComprar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .botonComprar div {
        width: 330px;
        height: 330px;
        border: 2px;
        margin: 10px;
    }

}

/*CELULAR*/
@media screen and (max-width: 500px) {
    .gridCds {
        display: grid;
        grid-template-columns: 1 fr 1 fr;
        grid-template-rows: 1fr,0fr,1fr,1fr,1fr;
    }

    .tamañoFuente {
        font-size: 15px;
    }

    .responsiveNav{
        display:flex;
        align-items: center;
        justify-content: center;
        height: 100px;
    }

}